.DS_Store
/build

*.iml
local.properties
src/main/res/drawable-hdpi/
src/main/res/drawable-mdpi/
src/main/res/drawable-xhdpi/
.gradle/
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/libraries/